body {
  margin: 0px;
}

.m10 {
  margin: 10px;
}

.w400 {
  width: 400px;
}

.outerBox {
  position: relative;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3), 0px 2px 10px rgba(0, 0, 0, 0.24);
  margin-top: 20px;
}

.custom-navbar {
  background-color: transparent;
  box-shadow: 0 0 0 transparent;
}

.custom-textArea {
  border: 2px solid red;
}
